RHT_OCP4_MASTER_API=https://api.eu45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu45.prod.nextcle.com
RHT_OCP4_DEV_USER=tarhtsi
RHT_OCP4_DEV_PASSWORD=8a021189d09b4540a219
RHT_OCP4_GITHUB_USER=tzengkiz
RHT_OCP4_QUAY_USER=tzengkiz
