RHT_OCP4_MASTER_API=https://api.eu45.prod.domain.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu45.prod.domain.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu45.prod.domain.com
RHT_OCP4_DEV_USER=myusername
RHT_OCP4_DEV_PASSWORD=mypassword=> wew234221q34222
RHT_OCP4_GITHUB_USER=my_git_user_name
RHT_OCP4_QUAY_USER=my_quay_user_name
